{% extends 'base.html.twig' %}
{% block title %}Liste des evenement{% endblock %}
{% block body %}
    <section class="container">

        <h1>Liste</h1>
        <a class="btn border-info m-2" href="{{ path('app_agenda_new') }}"><i class="fa-solid fa-calendar-plus"></i></a>
        <div  class=" table-responsive m-auto">
            <table  id="table" class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Description</th>
                    <th>All_day</th>
                    <th>Background_color</th>
                    <th>Text_color</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.id }}</td>
                        <td>{{ event.title }}</td>
                        <td>{{ event.start ? event.start|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ event.end ? event.end|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.allDay ? 'Yes' : 'No' }}</td>
                        <td>{{ event.backgroundColor }}</td>
                        <td>{{ event.textColor }}</td>
                        <td>
                            <div class="d-flex ">
                            <a class="btn  border-primary m-2" href="{{ path('app_agenda_show', {'id': event.id}) }}"><i class="fa-solid fa-eye"></i>
                            </a>

                            <a class="btn border-warning m-2" href="{{ path('app_agenda_edit', {'id': event.id}) }}">
                                <i class="fa-solid fa-pencil"></i>
                            </a>

                            {{ include('agenda/_delete_form.html.twig') }}
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </section>


{% endblock %}





