{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}
    <h1>Calendar</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ event.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ event.title }}</td>
        </tr>
        <tr>
            <th>Start</th>
            <td>{{ event.start ? event.start|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>End</th>
            <td>{{ event.end ? event.end|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ event.description }}</td>
        </tr>
        <tr>
            <th>All_day</th>
            <td>{{ event.allDay ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Background_color</th>
            <td>{{ event.backgroundColor }}</td>
        </tr>

        <tr>
            <th>Text_color</th>
            <td>{{ event.textColor }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_agenda_liste') }}">back to list</a>

{#    <a href="{{ path('app_calendar_edit', {'id': calendar.id}) }}">edit</a>#}

{#    {{ include('calendar/_delete_form.html.twig') }}#}
{% endblock %}



