<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="{{ asset('public/lib/BootstrapV5.2/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('public/lib/FullCalendar/main.css') }}" rel="stylesheet">
        <link href="{{ asset('public/lib/FullCalendar/main.css') }}" rel="stylesheet">
        <link href="{{ asset('public/lib/FullCalendar/locales-all.js') }}" rel="stylesheet">
        <link href="{{ asset('public/css/calendrier.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}


    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('public/lib/BootstrapV5.2/js/bootstrap.js') }}"></script>
        <script src="{{ asset('public/lib/jquery.js') }}"></script>
        <script src="{{ asset('public/lib/FullCalendar/main.js') }}"></script>
        <script src="{{ asset('public/js/calendrier.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
